/************************************/
/* BELOW 1600 px */
/************************************/
@media (max-width: 100rem) {
  #story {
    padding: 10rem 10rem 3rem 7rem;
    gap: 3rem;
  }

  .boy-eating-burrito {
    max-width: 75rem;
  }
}

/************************************/
/* BELOW 1400 px */
/************************************/
@media (max-width: 87.5rem) {
  #story {
    padding: 7.5rem 7rem 2rem 3rem;
    gap: 3rem;
  }

  .boy-eating-burrito {
    max-width: 70rem;
  }
}

/************************************/
/* BELOW 1200 px */
/************************************/
@media (max-width: 75rem) {
  html {
    font-size: 55%;
  }

  #story {
    padding: 6.5rem 3rem 2rem 1rem;
    gap: 1rem;
  }

  .boy-eating-burrito {
    max-width: 65rem;
  }

  #restaurant-info {
    padding: 10rem 7rem;
    gap: 6rem;
  }

  footer {
    padding: 3rem 20rem;
  }
}

/************************************/
/* BELOW 900 px */
/************************************/
@media (max-width: 56.25rem) {
  html {
    font-size: 50%;
  }

  .main-header {
    padding: 2rem 2rem 1.5rem 2rem;
  }

  .boy-eating-burrito {
    max-width: 55rem;
    margin-bottom: 1rem;
  }

  .story-text p,
  .caption-and-arrow p {
    font-size: 1.5rem;
  }

  .bold-story-words {
    font-size: 2.2rem;
  }

  .food-description {
    font-size: 2rem;
  }

  .food-images {
    column-gap: 3rem;
  }

  .food-images img {
    max-width: 40rem;
  }

  footer {
    padding: 3rem 10rem;
  }
}

/************************************/
/* BELOW 752 px */
/************************************/
@media (max-width: 47rem) {
  #story,
  #restaurant-info {
    display: block;
  }

  .story-image-and-caption {
    padding-left: 5rem;
    margin-bottom: 5rem;
  }

  .boy-eating-burrito {
    max-width: 60rem;
    margin-bottom: 2rem;
    padding: 0;
  }

  .caption-and-arrow {
    justify-content: flex-start;
  }

  /* .once-upon-a-time {
    text-align: right;
  } */

  .story-text {
    padding: 0 5rem 5rem 30rem;
  }

  .story-text p,
  .caption-and-arrow p {
    font-size: 2rem;
  }

  #menu {
    padding-bottom: 4rem;
  }

  .menu-items {
    display: block;
    padding: 0 5rem 0 5rem;
  }

  .favorites,
  .breakfast,
  .drinks-and-extras {
    margin-bottom: 5rem;
  }

  #restaurant-info {
    padding-top: 4rem;
  }

  .food-images {
    column-gap: 2rem;
  }

  .food-images img {
    max-width: 30rem;
  }
}

/************************************/
/* BELOW 600 px */
/************************************/
@media (max-width: 37.5rem) {
  html {
    font-size: 45%;
  }

  .boy-eating-burrito {
    margin-bottom: 4rem;
  }

  .story-text {
    padding: 0 5rem 5rem 10rem;
  }

  .google-map {
    max-width: 50rem;
    max-height: 40rem;
  }

  .food-images {
    column-gap: 1rem;
  }

  .food-images img {
    max-width: 25rem;
  }

  footer {
    padding: 3rem 3rem;
  }
}

/************************************/
/* BELOW 500 px */
/************************************/
@media (max-width: 31.25rem) {
  #story {
    padding-right: 0;
  }

  .story-image-and-caption {
    padding-left: 1rem;
  }

  .boy-eating-burrito {
    max-width: 50rem;
  }

  .story-text {
    padding: 0 2rem 5rem 3rem;
  }

  .menu-items {
    padding: 0 3rem 0 3rem;
  }

  .google-map {
    max-width: 40rem;
    max-height: 40rem;
  }
}

/************************************/
/* BELOW 400 px */
/************************************/
@media (max-width: 25rem) {
  .boy-eating-burrito {
    max-width: 30rem;
  }

  .food-images img {
    max-width: 20rem;
  }

  .google-map {
    max-width: 30rem;
    max-height: 30rem;
  }

  .menu-items {
    padding: 0 0.5rem 0 0.5rem;
  }

  footer {
    display: block;
  }

  .contact-info,
  .social-links {
    margin-bottom: 3rem;
  }
}

/************************************/
/* BELOW 300 px */
/************************************/
@media (max-width: 18.75rem) {
  html {
    font-size: 40%;
  }

  footer {
    padding: 1.5rem 1.5rem;
  }
}
