/************************************/
/* BELOW 1600 px */
/************************************/
@media (max-width: 100rem) {
  #story {
    padding: 10rem 10rem 3rem 7rem;
    gap: 3rem;
  }
}

/************************************/
/* BELOW 1400 px */
/************************************/
@media (max-width: 87.5rem) {
  #story {
    padding: 7.5rem 7rem 2rem 3rem;
    gap: 3rem;
  }
}

/************************************/
/* BELOW 1200 px */
/************************************/
@media (max-width: 75rem) {
  html {
    font-size: 55%;
  }

  #story {
    padding: 6.5rem 3rem 2rem 1rem;
    gap: 1rem;
  }

  #restaurant-info {
    padding: 10rem 7rem;
    gap: 6rem;
  }

  footer {
    padding: 3rem 20rem;
  }
}

/************************************/
/* BELOW 1000 px */
/************************************/
@media (max-width: 62.5rem) {
  /* MOBILE NAVIGATION */
  .button-mobile-nav {
    display: block;
    position: absolute;
    top: 3rem;
    right: 3rem;
  }

  .nav-list {
    /* display: block; */
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    font-size: 4rem;
  }

  .home-nav {
    background-color: rgba(255, 221, 85, 0.95);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Hide navigation */
    display: none;
  }

  .social-links-header {
    display: none;
  }

  #story,
  #restaurant-info,
  .menu-items,
  .food-images,
  footer {
    display: block;
  }

  #story,
  #menu,
  #restaurant-info,
  footer {
    padding: 10rem 20rem;
  }

  .food-images-container {
    padding: 3rem 10rem 7rem 10rem;
  }

  .boy-eating-burrito {
    padding-bottom: 0;
  }

  .caption-and-arrow {
    margin-top: -3rem;
  }

  .story-image-and-caption {
    margin-bottom: 7rem;
  }

  .story-text {
    text-align: justify;
    padding: 2rem 0;
  }

  .food-item {
    font-size: 2.4rem;
  }

  .food-description {
    font-size: 2rem;
  }

  .caption-and-arrow {
    justify-content: flex-start;
  }

  .favorites,
  .breakfast,
  .drinks-and-extras {
    margin-bottom: 10rem;
  }

  .extras {
    margin-top: 10rem;
  }

  .food-images p {
    font-size: 2rem;
  }

  .takeout-blurb {
    font-size: 1.8rem;
  }

  footer,
  .hours-title {
    font-size: 1.7rem;
  }
}

/************************************/
/* BELOW 800 px */
/************************************/
@media (max-width: 50rem) {
  #story,
  #menu,
  #restaurant-info,
  footer {
    padding: 10rem 10rem;
  }

  .food-images p {
    padding: 0 8rem;
  }
}

/************************************/
/* BELOW 600 px */
/************************************/
@media (max-width: 37.5rem) {
  #story,
  #menu,
  #restaurant-info,
  .food-images-container,
  footer {
    padding: 9rem 5rem 5rem 5rem;
  }

  .main-header {
    padding: 3rem 3rem 0 3rem;
  }

  .order-button {
    margin-bottom: 4rem;
  }

  .caption-and-arrow p {
    font-size: 2.2rem;
  }

  .favorites,
  .breakfast,
  .drinks-and-extras {
    margin-bottom: 6rem;
  }

  .extras {
    margin-top: 6rem;
  }

  .food-images p {
    padding: 0 3rem;
  }
}

/************************************/
/* BELOW 500 px */
/************************************/
@media (max-width: 31.25rem) {
  .main-header {
    padding: 2rem 2rem 0 2rem;
  }

  .above-intro,
  .below-intro {
    display: block;
    background-image: url("https://lh3.googleusercontent.com/bZH2x3_w9ui1eB5qUivhvmYfKspX1FizOPwndHRgpO2gW61Piq7ufVXZ6q7zgCS6y0qJQAPyZl3wuEU96AdjcwWJfUO1x79pfIniWXFPVETnr84yk3TMoY94HIAJ--JQRC8jRWChOA=w2400");
    background-size: auto 15rem;
    background-repeat: no-repeat;
    background-position: center;
    height: 15rem;
  }

  .above-intro,
  .intro,
  .below-intro {
    margin: 2rem;
  }

  .intro-last-line {
    margin-bottom: 3rem;
  }

  .order-button {
    margin-bottom: 2rem;
  }

  .intro {
    background-image: none;
    padding: 0;
  }
}

/************************************/
/* BELOW 420 px */
/************************************/
@media (max-width: 26.25rem) {
  .logo {
    max-width: 24rem;
  }

  .asterisk {
    padding-top: 2rem;
    font-size: 4rem;
  }

  .above-intro,
  .below-intro {
    background-size: auto 12rem;
    height: 12rem;
  }

  .unofficial {
    gap: 0.25rem;
  }

  .unofficial-blurb {
    font-size: 1.5rem;
  }

  #story,
  #restaurant-info,
  footer {
    padding: 3rem 4rem;
  }

  #menu {
    padding: 7rem 4rem 3rem 4rem;
  }
  .caption-and-arrow {
    margin-top: 2rem;
  }
}

/************************************/
/* BELOW 330 px */
/************************************/
@media (max-width: 20.625rem) {
  html {
    font-size: 40%;
  }

  .above-intro,
  .below-intro {
    background-size: auto 13rem;
    height: 13rem;
  }
}
