/************************************/
/* BELOW 1600 px */
/************************************/
@media (max-width: 100rem) {
  #story {
    padding: 10rem 10rem 3rem 7rem;
    gap: 3rem;
  }
}

/************************************/
/* BELOW 1400 px */
/************************************/
@media (max-width: 87.5rem) {
  #story {
    padding: 7.5rem 7rem 2rem 3rem;
    gap: 3rem;
  }
}

/************************************/
/* BELOW 1200 px */
/************************************/
@media (max-width: 75rem) {
  html {
    font-size: 55%;
  }

  #story {
    padding: 6.5rem 3rem 2rem 1rem;
    gap: 1rem;
  }

  #restaurant-info {
    padding: 10rem 7rem;
    gap: 6rem;
  }

  footer {
    padding: 3rem 20rem;
  }
}

/************************************/
/* BELOW 1000 px */
/************************************/
@media (max-width: 62.5rem) {
  #story,
  #restaurant-info,
  .menu-items {
    display: block;
  }

  #story,
  #menu,
  #restaurant-info,
  footer {
    padding: 10rem;
  }

  .food-images-container {
    padding: 3rem 10rem 17rem 10rem;
  }

  .story-image-and-caption {
    margin-bottom: 7rem;
  }

  .boy-eating-burrito {
    margin-bottom: 6rem;
  }

  .food-description {
    font-size: 2rem;
  }

  .caption-and-arrow {
    justify-content: flex-start;
  }

  .favorites,
  .breakfast,
  .drinks-and-extras {
    margin-bottom: 10rem;
  }

  .extras {
    margin-top: 10rem;
  }
}

/************************************/
/* BELOW 600 px */
/************************************/
@media (max-width: 37.5rem) {
  .main-header,
  #story,
  #menu,
  #restaurant-info,
  .food-images-container,
  footer {
    padding: 9rem 5rem;
  }

  .intro {
    background-image: none;
    padding: 15rem 0 25rem 0;
  }

  .order-button {
    margin-bottom: 4rem;
  }

  .food-images {
    display: block;
  }

  footer {
    display: block;
  }

  .contact-info,
  .social-links {
    margin-bottom: 3rem;
  }
}

/************************************/
/* BELOW 420 px */
/************************************/
@media (max-width: 26.25rem) {
  .asterisk {
    font-size: 4rem;
  }

  .unofficial {
    gap: 0.25rem;
  }

  .unofficial-blurb {
    font-size: 1.5rem;
  }

  .main-header,
  #story,
  #menu,
  #restaurant-info,
  footer {
    padding: 3rem 2.5rem;
  }

  #story {
    display: none;
  }
}

/************************************/
/* BELOW 300 px */
/************************************/
@media (max-width: 18.75rem) {
  html {
    font-size: 40%;
  }

  .intro {
    background-image: none;
    padding: 25rem 0;
  }
}
