/************************************/
/* BELOW 1600 px */
/************************************/
@media (max-width: 100rem) {
  #story {
    padding: 10rem 10rem 3rem 7rem;
    gap: 3rem;
  }
}

/************************************/
/* BELOW 1400 px */
/************************************/
@media (max-width: 87.5rem) {
  #story {
    padding: 7.5rem 7rem 2rem 3rem;
    gap: 3rem;
  }
}

/************************************/
/* BELOW 1200 px */
/************************************/
@media (max-width: 75rem) {
  html {
    font-size: 55%;
  }

  #story {
    padding: 6.5rem 3rem 2rem 1rem;
    gap: 1rem;
  }

  #restaurant-info {
    padding: 10rem 7rem;
    gap: 6rem;
  }

  footer {
    padding: 3rem 20rem;
  }
}

/************************************/
/* BELOW 1000 px */
/************************************/
@media (max-width: 62.5rem) {
  #story,
  #restaurant-info,
  .menu-items {
    display: block;
  }

  #story,
  #menu,
  #restaurant-info,
  footer {
    padding: 6rem 10rem;
  }

  .food-images-container {
    padding: 3rem 10rem 17rem 10rem;
  }

  .story-image-and-caption {
    margin-bottom: 7rem;
  }

  .boy-eating-burrito {
    margin-bottom: 6rem;
  }

  .food-description {
    font-size: 2rem;
  }

  .caption-and-arrow {
    justify-content: flex-start;
  }

  .favorites,
  .breakfast,
  .drinks-and-extras {
    margin-bottom: 5rem;
  }
}

/************************************/
/* BELOW 600 px */
/************************************/
@media (max-width: 37.5rem) {
  #story,
  #menu,
  #restaurant-info,
  footer {
    padding: 3rem 5rem;
  }

  .food-images-container {
    padding: 3rem 5rem 17rem 5rem;
  }

  footer {
    display: block;
  }

  .contact-info,
  .social-links {
    margin-bottom: 3rem;
  }
}

/************************************/
/* BELOW 400 px */
/************************************/
@media (max-width: 25rem) {
  #story,
  #menu,
  #restaurant-info,
  footer {
    padding: 3rem 2.5rem;
  }

  .boy-eating-burrito {
    margin-bottom: 8rem;
    /* padding: 0; */
  }

  .food-images-container {
    padding: 3rem 2.5rem 14rem 2.5rem;
  }
}

/************************************/
/* BELOW 300 px */
/************************************/
@media (max-width: 18.75rem) {
  html {
    font-size: 40%;
  }
}
