/************************************/
/* HEADER */
/************************************/
.hero {
  max-height: 100vh;
}
.main-header {
  padding: 3rem 6rem 1.5rem 6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  max-width: 28.5rem;
}

.asterisk {
  font-size: 5.3rem;
  color: #ff3e56;
  font-family: "Pacifico", cursive;
}

.home-nav {
  margin-left: auto;
}

.nav-list {
  list-style: none;
  font-size: 2.9rem;
  font-family: "Gloria Hallelujah", cursive;

  display: flex;
  gap: 6rem;
  justify-content: space-between;
}

.nav-link:link,
.nav-link:visited {
  color: #1a1a1a;
  text-decoration: none;
}

.home-nav-link:link:first-child,
.home-nav-link:visited:first-child {
  color: #ff3e56;
  text-decoration: none;
}

.nav-link:hover {
  color: #ff3e56;
}

.social-links-header {
  list-style: none;
  margin-left: 3rem;
  display: flex;
  gap: 1.5rem;
}

.social-button-header {
  background-color: #ffdd55;
  color: #ff3e56;
  transition-duration: 0.4s;
}

.social-button-header:hover {
  color: #ff8050;
}

.fa-brands {
  font-size: 3rem;
}

h2 {
  font-size: 4.3rem;
  font-weight: 500;
  color: #ff3e56;
  line-height: 1.17;
  font-family: "Gloria Hallelujah", cursive;
}
.above-intro,
.below-intro {
  display: none;
}

.intro {
  background-image: url("https://lh3.googleusercontent.com/pTG8Is7hCs5rKojb6JdCGZILiAi3TRMGKXE3zjlswNNZJmCmSEQINuKjxLwtr8umnj4bqk4aFIL9r68f628Jr_PytXTd32MEkjhH2jLAI5hWsvGJH_GMCxW5PFDPDmAXLiJ364-S=w2400");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 30rem;
  padding-bottom: 34rem;
}

.intro-last-line {
  margin-bottom: 4rem;
}

button {
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

.order-button {
  background-color: #ff3e56;
  border: none;
  padding: 2rem 2.4rem;
  border-radius: 3rem;
  font-size: 1.73rem;
  font-weight: 600;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-bottom: 1rem;
}

.order-button:hover {
  background-color: #ff8050;
}

.unofficial {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.unofficial .asterisk {
  line-height: 0;
  letter-spacing: 0;
  padding-top: 2.5rem;
}

.unofficial-blurb {
  letter-spacing: 0.3rem;
  font-family: "Pacifico", cursive;
}

/************************************/
/* STORY */
/************************************/
#story {
  background-color: #ffffff;
  padding: 15rem 15rem 10rem 3rem;
  display: flex;
  gap: 3rem;
}

.boy-eating-burrito {
  padding-left: 5.5rem;
  padding-bottom: 0.75rem;
  /* max-width: 82rem; */
  /* width: 80%; */
  max-width: 90%;
}

.caption-and-arrow {
  max-height: 7.5rem;
  margin-top: -8rem;
  display: flex;
  align-items: flex-end;
}

.caption-and-arrow p {
  letter-spacing: 0.3rem;
  font-family: "Pacifico", cursive;
}

.arrow {
  max-width: 6rem;
  /* padding-bottom: 0.5rem; */
  margin-bottom: 1rem;
}

.story-text {
  flex-basis: 60rem;
  text-transform: lowercase;
}

.story-text p {
  margin-bottom: 3rem;
}

.bold-story-words {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.1;
  font-family: "Gloria Hallelujah", cursive;
}

.and-so {
  text-align: end;
}

/************************************/
/* MENU */
/************************************/
#menu {
  background-color: #ffffff;
  padding: 5rem 3rem 10rem 3rem;
}

h3 {
  font-size: 4.3rem;
  font-weight: 500;
  line-height: 1.1;
  font-family: "Gloria Hallelujah", cursive;
  text-align: center;
  margin-bottom: 2rem;
}

.menu-items {
  display: flex;
  justify-content: center;
  gap: 7.5rem;
}

.favorites,
.breakfast,
.drinks-and-extras {
  flex-basis: 35rem;
}

.extras {
  margin-top: 4.5rem;
}

h4 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.6;
  font-family: "Gloria Hallelujah", cursive;
  margin-bottom: 1rem;
}

.breakfast-all-day {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.6;
  font-family: "Gloria Hallelujah", cursive;
  margin-top: -2rem;
  margin-bottom: 1rem;
}

.food-item {
  font-size: 2.2rem;
  line-height: 1.6;
  font-family: "Gloria Hallelujah", cursive;
}

.food-description {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  gap: 6rem;
}

/************************************/
/* RESTAURANT INFO */
/************************************/
#restaurant-info {
  background-color: #ffffff;
  padding: 5rem 20rem 10rem 20rem;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8rem;
}

.location-info p {
  margin-bottom: 0.5rem;
}

.address-body {
  margin-bottom: 2rem;
}

.body-link:link,
.body-link:visited {
  color: #1a1a1a;
  text-decoration: none;
}

.hours-body {
  margin-bottom: 3rem;
}
.hours-title-body {
  font-weight: bold;
}

.food-partners {
  list-style: none;
}

.food-partners li {
  margin-bottom: 1.5rem;
}

.uber-eats,
.postmates {
  max-width: 16rem;
}

.google-map {
  max-width: 100%;
}
/************************************/
/* FOOD GALLERY */
/************************************/
.food-images-container {
  background-color: #fbbf3a;
  display: flex;
  justify-content: center;
  padding: 7rem;
  padding-bottom: 17rem;
}

.food-images {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  /* column-gap: 4rem; */
  column-gap: 10%;
  row-gap: 15%;
}

.food-images img {
  max-width: 100%;
  /* max-width: 47rem; */
}

.food-images p {
  font-size: 1.8rem;
  padding: 0 18rem;
  margin-bottom: 5rem;
}

.california-burrito {
  grid-row: 1 / span 2;
}

.super-burrito {
  grid-row: 2 / span 2;
}

.super-fries {
  grid-row: 3 / span 2;
}

.sopes {
  grid-row: 4 / span 2;
}

.torta {
  grid-row: 5 / span 2;
}

.super-nachos {
  grid-row: 6 / span 2;
}

h5 {
  font-size: 3.2rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
  line-height: 1.6;
  font-family: "Pacifico", cursive;
}

/************************************/
/* FOOTER */
/************************************/
footer {
  background-color: #ff3e56;
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  padding: 3rem 30rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-link:link,
.footer-link:visited {
  color: #ffffff;
  text-decoration: none;
}

.takeout-blurb {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.contact-info {
  flex-basis: 22rem;
}

.phone {
  margin-bottom: 2rem;
}

.social-links {
  list-style: none;
  flex-basis: 22rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 0;
}

.social-links li,
.social-links a {
  padding: 1rem 0;
}

.social-button {
  background-color: #ff3e56;
  color: #fbbf3a;
  transition-duration: 0.4s;
}

.social-button:hover {
  color: #ffffff;
}

.hours {
  flex-basis: 22rem;
  align-self: flex-start;
}

.hours-title {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
}
