html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffdd55;
  font-size: 19px;
  font-weight: 500;
  color: #1a1a1a;
  font-family: "Roboto Mono", monospace;
}

.main-header {
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.asterisk {
  font-size: 53px;
  color: #ff3e56;
  /* line-height: 0.3; */
  font-family: "Pacifico", cursive;
}

nav {
  font-size: 29px;
  font-family: "Gloria Hallelujah", cursive;
  margin-left: auto;
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

.nav-link:link,
.nav-link:visited {
  color: #1a1a1a;
  text-decoration: none;
}

.home-nav-link:link:first-child,
.home-nav-link:visited:first-child {
  color: #ff3e56;
  text-decoration: none;
}

.nav-link:hover {
  color: #ff3e56;
}

.social-links-header {
  list-style: none;
  margin-left: 30px;
  display: flex;
  gap: 15px;
}

.social-button-header {
  background-color: #ffdd55;
  color: #ff3e56;
  transition-duration: 0.4s;
}

.social-button-header:hover {
  color: #ff8050;
}

h2 {
  font-size: 43px;
  font-weight: 500;
  color: #ff3e56;
  line-height: 1.17;
  font-family: "Gloria Hallelujah", cursive;
}

.intro {
  background-image: url("https://lh3.googleusercontent.com/pTG8Is7hCs5rKojb6JdCGZILiAi3TRMGKXE3zjlswNNZJmCmSEQINuKjxLwtr8umnj4bqk4aFIL9r68f628Jr_PytXTd32MEkjhH2jLAI5hWsvGJH_GMCxW5PFDPDmAXLiJ364-S=w2400");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 300px;
  padding-bottom: 340px;
}

.intro-last-line {
  margin-bottom: 40px;
}

button {
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

.order-button {
  background-color: #ff3e56;
  border: none;
  padding: 20px 24px;
  border-radius: 30px;
  font-size: 17.3px;
  font-weight: 600;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-bottom: 10px;
}

.order-button:hover {
  background-color: #ff8050;
}

.unofficial {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.unofficial .asterisk {
  line-height: 0;
  letter-spacing: 0;
  padding-top: 25px;
}

.unofficial-blurb {
  letter-spacing: 3px;
  font-family: "Pacifico", cursive;
}

#story {
  background-color: #ffffff;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 45px;
  padding-right: 100px;
  display: flex;
  /* align-items: center; */

  /* gap: 40px; */
}

/* .story-image-and-caption {
  width: 50%;
} */

.boy-eating-burrito {
  padding-left: 55px;
  width: 80%;
}

.caption-and-arrow {
  margin-top: -80px;
  /* margin-left: 60px; */
  display: flex;
  align-items: flex-end;
}

.caption-and-arrow p {
  letter-spacing: 3px;
  font-family: "Pacifico", cursive;
  /* flex-basis: 400px; */
}

.arrow {
  padding-bottom: 15px;
}
.story-text {
  margin-left: -90px;
  flex-basis: 600px;
  text-transform: lowercase;
}

.story-text p {
  margin-bottom: 30px;
}

.carne-asada,
.fries,
.and-so {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.1;
  font-family: "Gloria Hallelujah", cursive;
}

.and-so {
  text-align: end;
}

#menu {
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 100px;
}

h3 {
  font-size: 43px;
  font-weight: 500;
  line-height: 1.1;
  font-family: "Gloria Hallelujah", cursive;
  text-align: center;
  /* padding-top: 40px; */
  margin-bottom: 20px;
}

.menu-items {
  display: flex;
  justify-content: center;
  gap: 75px;
  /* padding: 0 200px; */
}

.favorites,
.breakfast,
.drinks-and-extras {
  flex-basis: 350px;
}

.extras {
  margin-top: 45px;
}

h4 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.6;
  font-family: "Gloria Hallelujah", cursive;
  margin-bottom: 10px;
}

.breakfast-all-day {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
  font-family: "Gloria Hallelujah", cursive;
  margin-top: -20px;
  margin-bottom: 10px;
}

.food-item {
  font-size: 22px;
  line-height: 1.6;
  font-family: "Gloria Hallelujah", cursive;
}

.food-description {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#restaurant-info {
  background-color: #ffffff;
  padding: 50px 200px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 80px;
}

.location-info p {
  margin-bottom: 5px;
}

.address-body {
  margin-bottom: 20px;
}

.body-link:link,
.body-link:visited {
  color: #1a1a1a;
  text-decoration: none;
}

.hours-body {
  margin-bottom: 30px;
}
.hours-title-body {
  font-weight: bold;
}

.food-partners {
  list-style: none;
}

.food-partners li {
  margin-bottom: 15px;
}

.food-images {
  background-color: #fbbf3a;
  text-align: center;
  padding: 30px 350px;
  /* padding-bottom: 90px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  column-gap: 40px;
  row-gap: 60px;
}

/* .row-one,
.row-two,
.row-three {
  flex-basis: 400px;
} */

.food-images img {
  width: 80%;
}

.food-images p {
  font-size: 16px;
  margin-bottom: 50px;
}

.california-burrito {
  grid-row: 1 / span 2;
}

.super-burrito {
  grid-row: 2 / span 2;
}

.super-fries {
  grid-row: 3 / span 2;
}

.sopes {
  grid-row: 4 / span 2;
}

.torta {
  grid-row: 5 / span 2;
}

.super-nachos {
  grid-row: 6 / span 2;
}

h5 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.8px;
  line-height: 1.6;
  font-family: "Pacifico", cursive;
}

footer {
  background-color: #ff3e56;
  font-size: 13px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  padding: 30px 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-link:link,
.footer-link:visited {
  color: #ffffff;
  text-decoration: none;
}

.takeout-blurb {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}

.contact-info {
  flex-basis: 220px;
}

.phone {
  margin-bottom: 20px;
}

.social-links {
  list-style: none;
  flex-basis: 220px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-button {
  background-color: #ff3e56;
  color: #fbbf3a;
  transition-duration: 0.4s;
}

.social-button:hover {
  color: #ffffff;
}

.hours {
  flex-basis: 220px;
  align-self: flex-start;
}

.hours-title {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}
